<p id="notice"><%= notice %></p>

<p>
  <strong>Tirage:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Résultat:</strong>
  <%= @game.description %>
</p>

<%= link_to 'Retour à la liste', games_path %>
